<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center"><h2>Let's create new author!</h2></div>
        <div class="card-body">
          <%= render 'shared/author_form', action: "Create author" %>
        </div>
      </div>
    </div>
  </div>
</div>
