<h1>Groups list</h1>
<% if policy(Group).new? %>
  <button type="button" class="btn btn-primary btn-sm">
    <%= link_to "New group", new_group_path %>
  </button>
<% end %>

<ol class="list-group">
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.name, group_path(group), class: "list-group-item" %>
    </li>
  <% end %>
</ol>