<h1>Groups list</h1>
<% if policy(Group).new? %>
  <%= link_to "New group", new_group_path %>
<% end %>
<ul>
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.name, group_path(group) %>
    </li>
  <% end %>
</ul>