<h1>Books  list</h1>
<% if policy(Book).new? %>
  <%= link_to "New book", new_book_path %>
<% end %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book) %>
    </li>
  <% end %>
</ul>

