<h1>Books list</h1>
<% if policy(Book).new? %>
  <button type="button" class="btn btn-primary btn-sm">
    <%= link_to "New book", new_book_path %>
  </button>
<% end %>

<ol class="list-group">
  <%= render @books %>
</ol>

