// Place all the styles related to the Books controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cover {
  width: 200px;
  img{

    height: 250px;
  }
}

.references {

    span {
    display: block;
    color: #666666;
  }
}


.book-title {
  color:#2E2F30;
  &:hover{
    text-decoration: none;
  }
}